<h1 class="mt-3 mb-3">Cadastar Produtos</h1>
<form [formGroup]="produtoForm" (submit)="enviar()">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="id" class="form-label">ID do Produto</label>
                    <input type="number" class="form-control" id="id" formControlName="id">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="nomeProduto" class="form-label">Nome do Produto</label>
                    <input type="text" class="form-control" id="nomeProduto" formControlName="nome" [maxlength]="200">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="codigoBarras" class="form-label">Código de Barra do Produto</label>
                    <input type="text" class="form-control" id="codigoBarras" formControlName="codigoBarras"[maxlength]="1000">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="preco" class="form-label">Preço do Produto</label>
                    <input type="number" class="form-control" id="preco" formControlName="preco">
                </div>
            </div>
        </div>
        <a class="btn btn-secondary me-1" routerLink="/produtos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Voltar</a>
        <button class="btn btn-primary" type="submit" >Cadastrar</button>
    </div>
</form>
